<?xml version='1.0' encoding='utf-8'?>
<widget id="com.epfl.dedis.cothoritymobile" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>cothority-mobile</name>
    <description>
        Mobile application to perform distributed tasks using cothority-framework.
    </description>
    <author email="lucio.romerio@epfl.ch" href="https://github.com/lromerio">
        Lucio Romerio
    </author>
    <content src="index.html" />

    <!-- Android -->
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="Fullscreen" value="false" />
    <preference name="android-windowSoftInputMode" value="adjustPan|stateHidden" />

    <!-- iOS -->
    <plugin spec="https://github.com/apache/cordova-plugin-statusbar"  source="git"/>
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <preference name="DisallowOverscroll" value="true" />

    <plugin spec="https://github.com/phonegap/phonegap-plugin-barcodescanner" source="git"/>
    <plugin name="cordova-plugin-camera" source="npm" spec="~2.1.1" />

    <icon src="www/res/icon.png" />
    <splash src="www/res/icon.png" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
