@import "../../lib/bootstrap/scss/variables";

/**
 * Source: https://github.com/Gilthoniel/cothority-web
 */
.servers-status {

  margin-top: 20px;

  .table {
    tr.has-error {
      color: $red;
    }
  }

  .servers-status-loading {
    text-align: center;
  }
}