h2 {
    line-height: 200%;
}

p {
    text-align: justify;
    padding: 17px;
    line-height: 120%;
}

table {
    margin-left:auto;
    margin-right:auto;
}

.error_message {
    position: absolute;
    margin: auto;
    display: block;
    text-align: center;

    right: 50%;
    top: 55%;
    -webkit-transform: translate(50%,0);
    transform: translate(50%,0);
    -webkit-appearance: none;
    line-height: 125%;
    padding: 10px;
    color: #990000;
}

.address_input, .pin_input, .name_input, .location_input,
.date_input, .description_input, .organizers_input {
    position: absolute;
    margin: auto;
    display: block;
    right: 50%;
    -webkit-transform: translate(50%,0);
    transform: translate(50%,0);
    -webkit-appearance: none;
    line-height: 150%;
}

.start_button, .done_button, .keys_button {
    font-weight: bold;
    margin: auto;

    position: absolute;
    display: block;
    font-size: 120%;
    bottom: 25px;
    right: 50%;
    -webkit-transform: translate(50%,0);
    transform: translate(50%,0);
    -webkit-appearance: none;
    border-radius: 2px;
    background: #efefef;
    color: #666666;
    padding: 10px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.keys_button {
    font-size: 100%;
    bottom: 150px;
    width: 120px;
}