.menu_button {
    font-size: 25px;
    font-weight: bold;
    padding: 30px 30px 30px 30px;
    text-align: center;
}

.menu {
    text-align: center;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
}