/* Tabs buttons */
.tabs {
    background-color: transparent;
    text-align: center;
    position: static;
    width: 35%;
    padding: 0;
}
#state {
    color: #008CBA;
    margin-left: 10%;
    margin-right: 5%;
}
#updates {
    color: #999999;
    margin-left: 5%;
    margin-right: 10%;
}